{% extends 'base.html' %}
{% block content %}
<h2>Subject Topper</h2>
<form method="post" class="row g-3 mb-3">
  <div class="col-md-6">
    <label class="form-label">Subject</label>
    <input name="subject" class="form-control" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Find Topper</button>
  </div>
</form>

{% if result %}
<div class="alert alert-success">
  Topper in <strong>{{ subject }}</strong>: {{ result[0] }} ({{ result[1] }}) with {{ '%.2f'|format(result[2]) }}
</div>
{% endif %}
{% endblock %}
